{% extends 'logic/base.html' %}
{% block content %}
    <div class="container-xxl">
        <div class="row">
            <div class="col">
                <div class="container-fluid container-home">
                    <h1> Ви розробник? </h1>
                    <a href="{% url 'partner_register' %}"
                       class="btn btn-primary">Зареєструвати свою розробку</a>
                </div>
            </div>
            <div class="col-6">
                <div class="container-fluid container-home">
                    <p>Лишь реплицированные с зарубежных источников, современные исследования лишь добавляют фракционных
                        разногласий и рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Прежде
                        всего, социально-экономическое развитие позволяет оценить значение анализа существующих
                        паттернов
                        поведения. Являясь всего лишь частью общей картины, предприниматели в сети интернет могут быть
                        преданы социально-демократической анафеме. И нет сомнений, что базовые сценарии поведения
                        пользователей являются только методом политического участия и рассмотрены исключительно в
                        разрезе
                        маркетинговых и финансовых предпосылок.</p>

                    <p>А ещё базовые сценарии поведения пользователей неоднозначны и будут указаны как претенденты на
                        роль
                        ключевых факторов. Являясь всего лишь частью общей картины, многие известные личности формируют
                        глобальную экономическую сеть и при этом - рассмотрены исключительно в разрезе маркетинговых и
                        финансовых предпосылок. Внезапно, явные признаки победы институционализации могут быть
                        объединены в
                        целые кластеры себе подобных. В своём стремлении повысить качество жизни, они забывают, что
                        высококачественный прототип будущего проекта предоставляет широкие возможности для новых
                        предложений. Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: постоянное информационно-пропагандистское обеспечение нашей
                        деятельности способствует повышению качества распределения внутренних резервов и ресурсов.</p>
                </div>
                <div class="img-container">
                    <img class="home-img"
                         src="https://media.discordapp.net/attachments/668144999589740584/864162397441753108/1626102745429.png"
                         alt="Вернуться на главную страницу">
                </div>

            </div>
            <div class="col">
                <div class="container-fluid container-home">
                    {% if user.is_authenticated %}
                        <h1> Ласкаво просимо! </h1>
                        <p> Ви увійшли як - {{ user.get_full_name }}!</p>
                        <div class="container-fluid">
                            <a href="#"
                               class="btn btn-primary btn-sm">Перейти до свого профілю</a>
                            <a href="{% url 'login_out' %}"
                               class="btn btn-primary btn-sm">Вийти із аккаунта</a>
                        </div>
                    {% else %}
                        <h1> Ви співробітник? </h1>
                        <a href="{% url 'login_in' %}"
                           class="btn btn-primary">Увійти як співробітник</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}