{% extends 'logic/base.html' %}
{% load cropping %}

{% block content %}
    <div class="container main-container">
        <div class="card">
            <div class="card-body">
                <hr>
                <div class="row">
                    <div class="col-2"><img src="{% cropped_thumbnail user "cropping" %}"  class="prof_pic"></div>
                    <div class="col-8"><h3 class="card-title">{{ user.get_full_name }} </h3></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
{% endblock %}